@import "../styles/fonts/typography.css";

.footer {
  font-family: "Vulf Sans Regular", sans-serif;
  border-top: 1px solid var(--textStandard);
  min-height: 250px;
  padding: 1.5rem 0 0;
  margin-bottom: 0;
  margin-top: 10rem;
}

.footer__list {
  font-family: "Vulf Sans Regular", sans-serif;
  text-decoration: none;
  list-style: none;
}

.footer__listLink:hover {
  font-family: "Vulf Sans Medium";
}

.footer__listLink:active {
  font-family: "Vulf Sans Medium Italic", sans-serif;
}

.footer__a {
  font-family: "Vulf Sans Medium";
}
@media only screen and (min-width: 1160px) {
  .footer {
    min-height: 150px;
    padding: 1.5rem;
  }
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1160px) {
  .footer__list {
    flex-direction: row;
    justify-content: center;
  }
}

.footer__listItem {
  margin: 0.5rem;
}

.footer__copyright {
  text-align: center;
}
