@font-face {
  font-family: "Vulf Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Vulf Sans Regular"), url("Vulf-Sans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Vulf Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Vulf Sans Medium"), url("Vulf-Sans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Vulf Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Vulf Sans Medium Italic"), url("Vulf-Sans-Medium-Italic.woff") format("woff");
}

@font-face {
  font-family: "Vulf Mono Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Vulf Mono Regular"), url("Vulf-Mono-Regular.woff") format("woff");
}

@font-face {
  font-family: "Vulf Mono Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Vulf Mono Italic"),
    url("Vulf-Mono-RegularItalic.woff") format("woff");
}
