@import 'fonts/typography.css';

html,
body {

  --textStandard: #22212C;
  --Darcula: #9580FF;
  --Purple: #FF80BF;

  padding: 0;
  margin: 0;
  font-family: 'Vulf Sans Regular', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

[data-theme='dark'],
[data-theme='dark'] body {
  background: #22212C;
  --textStandard: #F8F8F2;
}

[data-theme='light'],
[data-theme='light'] body {
  background: #F8F8F2;
  --textStandard: #22212C;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--textStandard);
  font-size: 1rem;
  text-decoration: none;
  transition: none;
}

ul {
  color: var(--textStandard);
  line-height: 1.5;
}

li {
  color: var(--textStandard);
  margin: 0.5rem 0;
}

p {
  color: var(--textStandard);
}

h2 {
  color: var(--textStandard);
  font-size: 1.5rem;
}

h3 {
  color: var(--textStandard);
  margin-top: 3rem;
}

img {
  max-width: 100%;
}

pre {
  white-space: pre-wrap;
  border: 1px solid var(--textStandard);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  margin: 2rem 0;
  font-size: 0.85rem;
}

@media only screen and (min-width: 960px) {
  pre {
    padding: 1rem 2rem;
    margin: 2rem 1rem;
  }
}

blockquote {
  border-left: 2px solid var(--textStandard);
  padding-left: 1rem;
  margin: 2.5rem 1rem;
}
