.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #6a6577;
}

[data-theme="dark"] .lightText {
  color: #bab3b2;
}
.lightTextHeader {
  margin-bottom: 2rem;
}

.linkStandard {
  text-decoration: underline;
  transition: none;
}

.linkStandard:hover {
  border-bottom: 0;
  text-decoration: none;
}

.linkFeature {
  font-family: "Vulf Sans Regular";
}

.linkFeature:hover {
  font-family: "Vulf Sans Medium";
}

.linkFeature:active {
  font-family: "Vulf Sans Medium Italic";
}

.linkFeatureCTA {
  margin: 1rem 3rem 1rem 0;
  display: inline-block;
}

.imageWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  flex-direction: column;
}

.imageHalf {
  width: 50%;
  display: block;
}

.imageHalf:first-of-type {
  margin-bottom: 1rem;
}

.imageFull {
  width: 100%;
  display: block;
}

.imageBase {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.imageCenter {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.imageCore {
  display: block;
  width: 25%;
  margin: 0 auto;
}

.headingBlogPost {
  margin-bottom: 0.25rem;
}

.hr {
  border: 1px solid var(--purple);
  margin: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 60em;
  list-style: none;
  padding-left: 0;
  margin-top: 3rem;
}

.icoGrid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  column-gap: 10px;
  row-gap: 1em;
  max-width: 60em;
  list-style: none;
  margin-top: 3rem;
}

.card {
  border-radius: 10px;
  margin: 1rem;
  padding: 1.5rem;
  flex-basis: calc(50% - 2rem);
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] .card {
  background: #2d2c3a;
}

.card a {
  border-bottom: 0;
  text-decoration: none;
}
@media only screen and (min-width: 450px) {
  .imageWrapper {
    flex-direction: row;
  }
  .imageHalf {
    width: 49%;
    display: inline-block;
  }

  .imageHalf:first-of-type {
    margin-bottom: 0;
  }
  .grid {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .card img {
    display: block;
    max-width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0 -0.5em 1em;
  }

  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  .card p {
    margin: 0 0 1em;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
